.inputOption {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding: 12px 0;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.inputOption:hover {
    background-color: #EBEBEB;
}